In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 100)
plt.style.use("default")

In [10]:
train_clf = pd.read_csv(r"C:\Users\sffra\Downloads\BSE 2025-2026\cml_final\data\raw\MIMIC III dataset HEF\mimic_train_HEF.csv")  # adjust path
test_clf  = pd.read_csv(r"C:\Users\sffra\Downloads\BSE 2025-2026\cml_final\data\raw\MIMIC III dataset HEF\mimic_test_HEF.csv") 

train_clf.head()

,HOSPITAL_EXPIRE_FLAG,subject_id,hadm_id,icustay_id,HeartRate_Min,HeartRate_Max,HeartRate_Mean,SysBP_Min,SysBP_Max,SysBP_Mean,DiasBP_Min,DiasBP_Max,DiasBP_Mean,MeanBP_Min,MeanBP_Max,MeanBP_Mean,RespRate_Min,RespRate_Max,RespRate_Mean,TempC_Min,TempC_Max,TempC_Mean,SpO2_Min,SpO2_Max,SpO2_Mean,Glucose_Min,Glucose_Max,Glucose_Mean,GENDER,DOB,DOD,ADMITTIME,DISCHTIME,DEATHTIME,Diff,ADMISSION_TYPE,INSURANCE,RELIGION,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ICD9_diagnosis,FIRST_CAREUNIT,LOS
0,0,55440,195768,228357,89.0,145.0,121.043478,74.0,127.0,106.586957,42.0,90.0,61.173913,59.0,94.0,74.543478,15.0,30.0,22.347826,35.111111,36.944444,36.080247,90.0,99.0,95.739130,111.0,230.0,160.777778,F,2108-07-16 00:00:00,2180-03-09 00:00:00,2178-02-06 10:35:00,2178-02-13 18:30:00,NaN,-61961.78470,EMERGENCY,Medicare,PROTESTANT QUAKER,SINGLE,WHITE,GASTROINTESTINAL BLEED,5789,MICU,4.5761
1,0,76908,126136,221004,63.0,110.0,79.117647,89.0,121.0,106.733333,49.0,74.0,64.733333,58.0,84.0,74.800000,13.0,21.0,16.058824,36.333333,36.611111,36.472222,98.0,100.0,99.058824,103.0,103.0,103.000000,F,2087-01-16 00:00:00,NaN,2129-02-12 22:34:00,2129-02-13 16:20:00,NaN,-43146.18378,EMERGENCY,Private,UNOBTAINABLE,MARRIED,WHITE,ESOPHAGEAL FOOD IMPACTION,53013,MICU,0.7582
2,0,95798,136645,296315,81.0,98.0,91.689655,88.0,138.0,112.785714,45.0,67.0,56.821429,64.0,88.0,72.888889,13.0,21.0,15.900000,36.444444,36.888889,36.666667,100.0,100.0,100.000000,132.0,346.0,217.636364,F,2057-09-17 00:00:00,NaN,2125-11-17 23:04:00,2125-12-05 17:55:00,NaN,-42009.96157,EMERGENCY,Medicare,PROTESTANT QUAKER,SEPARATED,BLACK/AFRICAN AMERICAN,UPPER GI BLEED,56983,MICU,3.7626
3,0,40708,102505,245557,76.0,128.0,98.857143,84.0,135.0,106.972973,30.0,89.0,41.864865,48.0,94.0,62.783784,12.0,35.0,26.771429,36.333333,39.500000,37.833333,78.0,100.0,95.085714,108.0,139.0,125.000000,F,2056-02-27 00:00:00,2132-03-01 00:00:00,2131-01-26 08:00:00,2131-02-05 16:23:00,NaN,-43585.37922,ELECTIVE,Medicare,NOT SPECIFIED,WIDOWED,WHITE,HIATAL HERNIA/SDA,5533,SICU,3.8734
4,0,28424,127337,225281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,137.0,113.000000,F,2066-12-19 00:00:00,2147-01-18 00:00:00,2146-05-04 02:02:00,2146-05-20 18:40:00,NaN,-50271.76602,EMERGENCY,Medicare,JEWISH,WIDOWED,WHITE,ABDOMINAL PAIN,56211,TSICU,5.8654

In [12]:
train_clf.shape, test_clf.shape

train_clf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20885 entries, 0 to 20884
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HOSPITAL_EXPIRE_FLAG  20885 non-null  int64
 1   subject_id            20885 non-null  int64
 2   hadm_id               20885 non-null  int64
 3   icustay_id            20885 non-null  int64
 4   HeartRate_Min         18698 non-null  float64
 5   HeartRate_Max         18698 non-null  float64
 6   HeartRate_Mean        18698 non-null  float64
 7   SysBP_Min             18677 non-null  float64
 8   SysBP_Max             18677 non-null  float64
 9   SysBP_Mean            18677 non-null  float64
 10  DiasBP_Min            18676 non-null  float64
 11  DiasBP_Max            18676 non-null  float64
 12  DiasBP_Mean           18676 non-null  float64
 13  MeanBP_Min            18699 non-null  float64
 14  MeanBP_Max            18699 non-null  float64
 15  MeanBP_Mean           18699 non-null  float64
 16  RespRate_Min          18696 non-null  float64
 17  RespRate_Max          18696 non-null  float64
 18  RespRate_Mean         18696 non-null  float64
 19  TempC_Min             18388 non-null  float64
 20  TempC_Max             18388 non-null  float64
 21  TempC_Mean            18388 non-null  float64
 22  SpO2_Min              18682 non-null  float64
 23  SpO2_Max              18682 non-null  float64
 24  SpO2_Mean             18682 non-null  float64
 25  Glucose_Min           20632 non-null  float64
 26  Glucose_Max           20632 non-null  float64
 27  Glucose_Mean          20632 non-null  float64
 28  GENDER                20885 non-null  object
 29  DOB                   20885 non-null  object
 30  DOD                   7374 non-null   object
 31  ADMITTIME             20885 non-null  object
 32  DISCHTIME             20885 non-null  object
 33  DEATHTIME             2345 non-null   object
 34  Diff                  20885 non-null  float64
 35  ADMISSION_TYPE        20885 non-null  object
 36  INSURANCE             20885 non-null  object
 37  RELIGION              20885 non-null  object
 38  MARITAL_STATUS        20163 non-null  object
 39  ETHNICITY             20885 non-null  object
 40  DIAGNOSIS             20885 non-null  object
 41  ICD9_diagnosis        20885 non-null  object
 42  FIRST_CAREUNIT        20885 non-null  object
 43  LOS                   20885 non-null  float64
dtypes: float64(26), int64(4), object(14)
memory usage: 7.0+ MB

Missing Rate

In [32]:
missing_summary = (
    train_clf.isna()
             .mean()
             .reset_index()
             .rename(columns={'index': 'column', 0: 'missing_rate'})
)

# Convert to percentage
missing_summary['missing_rate_percent'] = missing_summary['missing_rate'] * 100

# Sort by highest missing rate
missing_summary = missing_summary.sort_values('missing_rate', ascending=False)

print(missing_summary)

                  column  missing_rate  missing_rate_percent
33             DEATHTIME      0.887718             88.771846
30                   DOD      0.646924             64.692363
20             TempC_Max      0.119559             11.955949
19             TempC_Min      0.119559             11.955949
21            TempC_Mean      0.119559             11.955949
11            DiasBP_Max      0.105770             10.576969
12           DiasBP_Mean      0.105770             10.576969
10            DiasBP_Min      0.105770             10.576969
8              SysBP_Max      0.105722             10.572181
7              SysBP_Min      0.105722             10.572181
9             SysBP_Mean      0.105722             10.572181
23              SpO2_Max      0.105482             10.548240
24             SpO2_Mean      0.105482             10.548240
22              SpO2_Min      0.105482             10.548240
17          RespRate_Max      0.104812             10.481207
18         RespRate_Mean      0.104812             10.481207
16          RespRate_Min      0.104812             10.481207
5          HeartRate_Max      0.104716             10.471630
6         HeartRate_Mean      0.104716             10.471630
4          HeartRate_Min      0.104716             10.471630
14            MeanBP_Max      0.104668             10.466842
13            MeanBP_Min      0.104668             10.466842
15           MeanBP_Mean      0.104668             10.466842
38        MARITAL_STATUS      0.034570              3.457027
27          Glucose_Mean      0.012114              1.211396
26           Glucose_Max      0.012114              1.211396
25           Glucose_Min      0.012114              1.211396
3             icustay_id      0.000000              0.000000
0   HOSPITAL_EXPIRE_FLAG      0.000000              0.000000
1             subject_id      0.000000              0.000000
2                hadm_id      0.000000              0.000000
29                   DOB      0.000000              0.000000
31             ADMITTIME      0.000000              0.000000
32             DISCHTIME      0.000000              0.000000
34                  Diff      0.000000              0.000000
28                GENDER      0.000000              0.000000
35        ADMISSION_TYPE      0.000000              0.000000
36             INSURANCE      0.000000              0.000000
37              RELIGION      0.000000              0.000000
39             ETHNICITY      0.000000              0.000000
40             DIAGNOSIS      0.000000              0.000000
41        ICD9_diagnosis      0.000000              0.000000
42        FIRST_CAREUNIT      0.000000              0.000000
43                   LOS      0.000000              0.000000

Look at ID columns

In [34]:
id_cols = ['subject_id', 'hadm_id', 'icustay_id']

for c in id_cols:
    n_rows = train_clf.shape[0]
    n_unique = train_clf[c].nunique()
    print(f"{c}: {n_unique} unique values over {n_rows} rows")

subject_id: 16317 unique values over 20885 rows
hadm_id: 19749 unique values over 20885 rows
icustay_id: 20885 unique values over 20885 rows

In [35]:
icu_per_subject = (
    train_clf.groupby('subject_id')['icustay_id']
             .nunique()
             .sort_values(ascending=False)
)

print(icu_per_subject.head(10))          # top patients with most ICU stays
print(icu_per_subject.value_counts())    # how many have 1, 2, 3... stays

subject_id
109      25
73713    16
23657    16
5060     15
29035    14
11861    13
76327    12
31260    12
5727     11
3952     11
Name: icustay_id, dtype: int64
icustay_id
1     13377
2      2060
3       547
4       178
5        67
6        36
7        18
8        10
9         8
10        5
11        3
12        2
16        2
25        1
14        1
13        1
15        1
Name: count, dtype: int64

In [36]:
hadm_per_subject = (
    train_clf.groupby('subject_id')['hadm_id']
             .nunique()
             .sort_values(ascending=False)
)

print(hadm_per_subject.head(10))
print(hadm_per_subject.value_counts())

subject_id
109      24
5060     15
73713    15
23657    15
11861    12
5727     11
7809     11
3952     11
27800    10
29035    10
Name: hadm_id, dtype: int64
hadm_id
1     14065
2      1611
3       398
4       140
5        39
6        23
7        16
9         7
8         7
15        3
11        3
10        3
12        1
24        1
Name: count, dtype: int64

check overlap with train and test

Find what's correlated to target

In [33]:
target = 'HOSPITAL_EXPIRE_FLAG'

num_cols = (
    train_clf.select_dtypes(include=['number'])
             .columns.drop(target)
)

corr_with_target = (
    train_clf[num_cols]
    .corrwith(train_clf[target])
    .sort_values(ascending=False)
)

corr_with_target.head(20)

RespRate_Mean     0.175122
RespRate_Max      0.135877
HeartRate_Max     0.129469
LOS               0.129171
HeartRate_Mean    0.110773
Glucose_Mean      0.105205
Glucose_Max       0.084702
RespRate_Min      0.072560
Glucose_Min       0.064290
MeanBP_Max        0.014403
HeartRate_Min     0.006973
hadm_id           0.001671
Diff             -0.000994
subject_id       -0.008040
icustay_id       -0.010380
DiasBP_Max       -0.022246
SysBP_Max        -0.028490
TempC_Max        -0.042721
SpO2_Max         -0.049621
DiasBP_Mean      -0.099773
dtype: float64